<div class="footer-container">
  <ul class="inline">
    <li><a href="http://weibo.com/u/2865390333" target="_blank">新浪微博：@神马价</a></li>
  </ul>
  <p id="copyright">© 2013 DestinyD(destinyd_ror<img src='/images/at.gif' />163.com)</p>
</div>
