<% set_meta_tags keywords:  "菜单,价格,#{@place}菜单", 
description:  "#{@place}的所有菜单，#{@place}价格信息",
  title: "#{@place}的所有菜单" %>

<h1 class="tc"><%= @place %>的所有菜单</h1>
<div class="tc margin-t10">
  <% @place.menus.each do |menu| %>
    <div class="image">
      <%= link_to [@place,menu],title:menu do %>
        <%= image_tag menu.image.large,title:menu,alt:menu %>
      <% end %>
    </div>
  <% end -%>
</div>
