<% comments = parent.comments.recent.page(params[:comment_page]) %>
<dt>我也来说两句</dt>
<dd><%= render "comments/form", parent: parent, comment: parent.comments.new, any_comments: comments.any? %></dd>
<dt>评论</dt>
<dd>
<div id="dd_comments">
  <%= render 'comments/comments', comments: comments, parent: parent %>
</div>
</dd>
