<% comments = commentable.comments.paginate(per_page: 10, page: params[:comments_page]) %>
<section>
<header>
<nav>
<h2 id="comments_size"><a href="#评论"><%= "#{commentable.comments.size}条评论" %></a></h2>
</nav>
<header>
<div class="article">
<div id="comments">  
  <% unless comments.empty? %>  
    <%= render 'comments/livecomments',comments: comments %>
  <% end %> 
</div> 
</div>
</section>

<section>
<header>
<nav><h2><a href="#写评论">写评论</a></h2></nav>
</header>
<div class="article">
<%#<div class="user_show"> %>
  <%= render 'comments/form',commentable: commentable %>
<%#</div>%>
<%#<div class="user_hide">%>
  <%#登录之后你也写几句？%>
<%#</div>%>
</div>
</section>
