<li id="<%= comment.id %>" style="display:none">
  <div class="comment">
    <div class="comment-info">
      <span class="user"><%= comment.user %></span>
      <span class="created_at"><%= comment.created_at %></span>
      <span class="action"></span>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
  </div>
</li>
