<% @where_name = @shop.name %>
<% @where = @shop %>
<p>
<b>描述:</b>
<%= @shop.desc %>
</p>

<p>
<b>地址:</b>
<%= @shop.address %>
</p>

<% content_for :sidebar do -%>
  <%= render 'map', :resource => @shop unless @shop.no_locate? %>
<% end -%>
