<% @where_name = "网站账单列表，第#{params[:page] || 1}页" %>
<% set_meta_tags keywords:  "网站账单", 
  description:  "网站账单列表，第#{params[:page] || 1}页",
  title: @where_name
%>
<%= render @orders %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @orders %> 
</div>

