<% @where_name = "公告列表，第#{params[:page] || 1}页" %>
<% set_meta_tags keywords:  "公告", 
  description:  "公告列表，第#{params[:page] || 1}页",
  title: @where_name
%>
<div class="articles_index">
  <% @articles.each do |article| %>
    <li><span class="title"><%= link_to article.title, article %></span><span class="date"><%= article.updated_at %></span></li>
  <% end %>
</div>
<div class="c">
  
</div>
<div class="pull-right">
  <%= paginate @articles %>
</div>
