<%= render 'links' %>
<table id="msgs">
  <tr>
    <th class="name">标题</th>
    <th class="user">发送至</th>
    <th>已阅读？</th>
  </tr>

<% @msgs.each do |msg| %>
  <tr>
  <td class="name">
    <%= msg.title %>
  </td>
    <td class="user"><%= msg.to_user %></td>
    <td><%= msg.is_read ? '√' : 'X' %></td>
  </tr>
<% end %>
</table>
