<% @where = @msg %>
<% @where_name = @msg.title %>
<div class="tc">
  <h1><%= @msg.sender ? @msg.title : raw(@msg.title) %></h1>
  <%= p_field @msg,:sender %>
</div>
<%= @msg.sender ? @msg.body : raw(@msg.body) %>
