<% unless session[:cart][:items].blank? %>
<table class="bill">
  <thead>
    <th>已选择商品</th>
    <th>操作</th>
  </thead>
  <tbody>
    <% session[:cart][:items].each do |good_id,good| %>
    <tr>          
      <td class="name"><%= link_to good[:name],good_path(good_id) %></td>
      <td><%= link_to '删除', cart_path(good_id),:method => :delete,:remote => true %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div><%= link_to '选择完毕。',carts_path, :class => 'button' %></div>
<% end %>