<% @cost = Cost.new((params["cost"] || {})) %>
<div id="cost_cart">
  <%= simple_form_for @cost do |f| -%>
    <%= f.input :money %>
    <%= f.input :desc, as: :text %>
    <%= f.submit '提交',name: nil %>
  <% end %>
</div>
