<h1>提交成功</h1>
<p><%= link_to '查看您的消费单',@cost %></p>
<p><%= link_to '继续记消费', new_cost_path %></p>
<h2>分享你的消费单。</h2>
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" data="{'text':'<%= j @cost.desc %>','url':'<%= cost_url(@cost) %>'}">
  <a class="bds_qzone"></a>
  <a class="bds_tsina"></a>
  <a class="bds_tqq"></a>
  <a class="bds_renren"></a>
  <span class="bds_more">更多</span>
</div>
<script type="text/javascript" id="bdshare_js1" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js1"></script>
<script type="text/javascript">
  document.getElementById("bdshell_js1").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
