<% @where_name = "消费记录列表，第#{params[:page] || 1}页" %>
<% set_meta_tags :keywords => "消费,单价,地点", 
  :description => "消费记录列表，第#{params[:page] || 1}页",
  :title => @where_name
%>
<%= render @costs %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @prices %> 
</div>
