<% set_meta_tags :keywords => "消费,单价,地点", 
  :description => "消费记录列表，第#{params[:page] || 1}页",
  :title => "消费记录列表，第#{params[:page] || 1}页"
%>
<h1><%= title "消费列表，第#{params[:page] || 1}页" %></h1>
<%= render @costs %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @prices %> 
</div>
