<h3>1:注册</h3>
<p>注册用户才能保证您的唯一性，也能很好的保护您的数据安全。<span class="c3"><%= link_to '点我注册',new_user_registration_path,rel: 'nofollow' %></span></p>
<h3>2:找地点</h3>
<p>搜索地点名称并选择，或者自行添加。<span class="c3"><%= link_to '开始记账',new_bill_path,rel: 'nofollow' %></span></p>
<h3>3:选商品</h3>
<p>知道您所在地点之后，还需要您选择您所购买了的商品，我们已经提供大量市面上的商品信息，搜索即可找到哦。</p>
<h3>4:记价格</h3>
<p>光选了商品还不够哦，还必须知道您买了多少，什么价格买的，对吧？</p>
<h3>1+2+3+4=记账</h3>
<p>当您点击提交，一份账单就生成了。在神马地方买了神马，神马价钱，共花了多少，通通可查。还不快来<span class="c3"><%= link_to '记账',new_bill_path,rel: 'nofollow' %></span>，然后跟大伙Show一下。</p>
<h3>消费统计</h3>
<p>我们的系统可以帮您统计出每月花费，甚至一段时间内的所有花费，让您知道您的钱都花在了神马地方。<span class="c3"><%= link_to '查看消费统计',userhome_costs_path,rel: 'nofollow' %></span></p>
