<dl class="dl-horizontal">
  <dt>注册</dt>
  <dd>注册用户才能保证您的唯一性，也能很好的保护您的数据安全。<span class="c3"><%= link_to '点我注册',new_user_registration_path,rel: 'nofollow' %></span></dd>
  <dt>记消费</dt>
  <dd>记下消费金额，缘由。当您点击提交，一份消费单就生成了。神马价钱，共花了多少，通通可查。还不快来<span class="c3"><%= link_to '记消费',new_cost_path,rel: 'nofollow' %></span>，然后跟大伙Show一下。</dd>
  <dt>消费统计</dt>
  <dd>我们的系统可以帮您统计出每月花费，甚至一段时间内的所有花费，让您知道您的钱都花在了神马地方。<span class="c3"><%= link_to '查看消费统计',userhome_costs_path,rel: 'nofollow' %></span></dd>
</dl>
