<% 
  set_meta_tags keywords:  "商品,价格,价格信息,记账,记消费,神马价", 
    description:  "神马价是一个专业的，以商品价格信息为主要内容的网站。网站提供专业的记账工具给用户，并且让用户能找到自己需要的商品价格信息。"
  %>
<div class="page-header">
  <h1>神马甲<small>随时随地记消费、查价格</small></h1>
</div>
<div class="row-fluid">
  <div class="span7">
    <div id="slider">
      <%= render 'flashes/flashes',flashes: Flash.list %>
    </div>
  </div>
  <div class="span5">
    <%= render 'home/help' %>
  </div>
</div>

<div class="smj-section smj-recent-bills">
  <% Bill.recent.with_pic.with_bl.limit(10).each do |bill| %>
    <%= render bill %>
  <% end -%>
</div>
<div class="clearer"></div>
<script>
  //  $(document).ready(function(){
    $("#slider").easySlider({
      auto: true,
      numeric: true,
      continuous: true
    });
    //  });                
</script>
