<%# content_for :plus do %>
  <%#= section title: '账单支付情况' do %>
    <% unless bill.costs.blank? %>
    <h3>账单支付情况</h3>
    
    <% if bill.fully_paid %>
      <p><%= link_to "本账单由#{bill.user}独自支付", bill.costs.first, title: "本账单由#{bill.user}独自支付" %>
    <% else %>
      <ul>
        <% bill.costs.each do |cost| %>
          <li>
            <%= link_to "#{cost.user}支付了#{cost.money}", cost, title: "#{cost.user}支付了#{cost.money}" %>
          </li>
        <% end %>
      </ul>
      <p style="margin:5px 0;">
        <%= link_to '您也为此买单了!',new_cost_path(cost:{ money: bill.total - bill.costs.sum(&:money), bill_id: bill.id}), rel: 'nofollow', class: 'btn btn-primary' %>
      </p>
    <% end %>
  <% end %>
<%# end %>
