<%
  args = {q: params[:q],lat: cookies["lat"],lon: cookies["lon"]}
  args.merge! city: cookies['city'] if !cookies['city'].blank? and cookies['city'].scan(/自治/).blank?
  @places = Place.search(args).recent.paginate(:page => params[:page]) unless params[:q].blank?
%>
<table>
  <tr>
    <th>名称</th>
    <th>地址</th>
    <th>联系电话</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= link_to place,new_bill_path(place_id: place.id,step: 2) %></td>
    <td><%= place.address %></td>
    <td><%= place.tel %></td>
  </tr>
<% end %>
</table>
<div class="c"></div>
<div class="r">
  <%= will_paginate @places %>
</div>
