<% session[:cart] ||= {} %>
<% session[:cart][:place_id] = params[:place_id] %>
<div id="bill_select">
	<%= render 'carts/form' %>
</div>

<% content_for :plus do -%>
	<% section title: '搜索、添加商品到账单' do %>
		<%= render 'goods_search' %>
		<div id="new_bill_goods_search">
		<%= render 'goods' unless params[:q].blank? %>
		</div>
	<% end %>
<% end -%>
