<% @where_name = "账单列表，第#{params[:page] || 1}页" %>
<% set_meta_tags keywords:  "账单,消费,地点", 
  description:  "账单列表，第#{params[:page] || 1}页",
  title: @where_name
%>
<div>
  <%= render collection %>
  <div class="pull-right">
    <%= paginate collection %> 
  </div>
  <div class="clearfix"></div>
</div>
