<%= section title: prices_title do %>
  <ul class="nowrap">
    <% prices.each do |price| %>
      <li>
      <%=link_to price.human_name,price, title: price.human_name %><%= price.address %>
      </li>
    <% end %>
  </ul>
<% end unless prices.blank? %>
