<% if @prices.blank? %>
  暂无数据
<% else %>
  <ul class="nowrap unstyled">
    <% @prices.each do |price| %>
      <li>
        <%=link_to price.human_name,price, title: price.try(:human_name) %><%= " 在 #{price.address}" unless price.address.blank? %>
      </li>
    <% end %>
  </ul>
<% end -%>
