<% tmp = t("action.#{controller_name}.#{action_name}") %>
<% if @able %>
  <% tmp1 = "#{@able}的#{tmp}价格信息" %>
<% else %>
  <% tmp1 = "#{tmp}价格信息" %>
<% end -%>
<% @where_name = @meta_title ="#{tmp1}，第#{params[:page] || 1}页" %>
<% set_meta_tags keywords:  "价格,地址,#{tmp}价格", 
description: @meta_title,
title: @meta_title %>
<%= render 'prices_types' unless @good %>
<%= render @prices %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @prices %> 
</div>
<%#= link_to t('labels.new'), new_price_path %>
