<%= simple_form_for(good,remote: good.xhr || request.xhr?) do |f| %>
    <%= render "goods/form_fields",f:f %>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
  </div>
<% end %>
