<div id="goods">
  <ul class="table pretty">  
    <li class="name">名称</li>  
    <li>规格</li>  
    <li>单位</li>  
    <li>参考产地</li>  
  </ul>
  <%= render @goods %>
  <div class="r">
    <%= will_paginate @goods %>
  </div>
</div>
