/*
 *= require bootstrap_and_overrides
 *= require_self
*/
//= require jquery-ui
//= require easyslide
//= require jquery.lightbox-0.5
//= require_tree .
.content {
  /*background-color: #eee;*/
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  /*-webkit-border-radius: 0 0 6px 6px;*/
  /*-moz-border-radius: 0 0 6px 6px;*/
  /*border-radius: 0 0 6px 6px;*/
}

@mixin rounded-corners($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.section{
  margin: 0 0 40px 0;
}

#footer{
  font: 12px/1.5 Tahoma,Arial,"宋体b8b\4f53",sans-serif;
  color: #999;
  text-align: center;
  margin-top: 20px;

  li{
    list-style: none;
  }
  .footer-container{
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding-top: 20px;
  }
  .weixin_mp{
    width: 120px;
    height: 120px;
  }

}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

#mh-300{
  min-height: 300px;
}

.more{
  line-height: 60px;
}

.nowrap{
  white-space: nowrap;
  overflow: hidden;
}

.plus{
  border-top: 1px dashed;
}

.red{
  color: red;
}
