#home{
  section,div.section{
    margin-bottom:10px;
  }
  section.articles{
    width:535px;
    margin-left:20px;
  }
  .flashAD{
    width: 650px;
    height:350px;
  }
  .flashAD a img{
    width:100%; /*width:683px*/
    height:328px;
  }
  .articles div.article p{
    margin-bottom: 5px;
  }
}
