<div class="images">
  <% @uploads.each do |upload| %>
    <div class="l margin-r10">
      <%= link_to upload,title: upload.uploadable do %>
        <%= image_tag upload.image.medium,alt: upload.uploadable %>
      <% end -%>
      <p class="list_title"> <%= link_to upload.uploadable,upload %> </p>
    </div>
  <% end %>
</div>
<div class="c"></div>
<div class="r">
  <%= will_paginate @uploads %>
</div>
