<div class="username">
  <%= link_to current_user,userhome_root_path,title:current_user %>
</div>
<div>
  (<%= link_to current_user.msgs.unread.count,msgs_path,title:"您有#{current_user.msgs.unread.count}条信息" %>)
</div> 
<div>
  <%=link_to"记消费",new_cost_path %> &nbsp; 
  <%#=link_to"登记商品",new_good_path%> 
  <%=link_to"登出",destroy_user_session_path,remote: true %>
</div>
