<% content_for :sidebar do -%>
  <section>
    <header>
      <nav><h2 id="地图选址"><a href='#地图选址'>地图选址</a></h2></nav>
    </header>
    <div class="article">
      <div id="google_map" style="height:400px;">
      </div>
    </div>
  </section>
<% end -%>
