<% pre_path =''; pre_path ='prices/' if action_name == 'index' %>
<% hashs = {:index => '../prices',:groupbuy =>'groupbuy',:cheapest =>'cheapest'} %>
<nav class="none">
<% hashs.each do |key,val| %>
  <%= link_to t("action.prices.#{key}"),"#{pre_path}#{val}"  %>
<% end %>
</nav>
