<header><nav><h2 id="控制面板"><a href=#控制面板>控制面板</a></h2></nav></header>
<div class="content">
  <p><%= link_to t('action.userhomes.homes'), userhome_root_path %></p>
  <p><%= link_to t('action.userhomes.costs'), userhome_costs_path %></p>
  <p><%= link_to t('controller.shops'), userhome_shops_path if current_shop %></p>
  <p><%= link_to t('controller.bills'), userhome_bills_path %></p>
  <%#= link_to t('activerecord.models.integral'),'/userhomes/integrals'%>
</div>
