<header><nav><h2 id="控制面板"><a href=#控制面板>控制面板</a></h2></nav></header>
<div class="content">
  <%= link_to t('action.userhomes.homes'), userhome_root_path %><br />
  <%= link_to t('action.userhomes.costs'), userhome_costs_path %><br />
  <%= link_to t('controller.shops'), userhome_shops_path %><br />
  <%#= link_to t('activerecord.models.integral'),'/userhomes/integrals'%>
</div>
