<div id='locate'>
  <nav><h2 id="所在城市"><a href=#所在城市>所在城市</a></h2></nav>
<%= form_tag '/locates' do |f| -%>
  <small>(不要输入"市"，例如北京，不能为北京市)</small>：<br />
  <%= text_field_tag :id %><br />
  <%= submit_tag '定位' %><br />
<% end -%>
</div>
