<%= render 'map_heads',collection: collection %>
<section>
  <header>
    <nav>
      <h2 id="地图显示"><a href="#地图显示">地图显示</a></h2>
    </nav>
  </header>
  <div class="article">
    <div id="google_map" style="height:400px;">
    </div>
  </div>
</section>
