<%= render 'map_heads',collection: @places %>
<script>
    google.maps.event.addDomListener(window, 'load', put_markers_with_word);
</script>
<section>
  <header>
    <nav>
      <h2 id="地图显示"><a href="#地图显示">地图显示</a></h2>
    </nav>
  </header>
  <div class="article">
    <div id="google_map" style="height:400px;">
    </div>
  </div>
</section>
