<%= render 'application/before_layout' %>
<div id="wrap">
  <div class="product_l">
    <%= render 'content' %>
  </div>
  <aside>
    <%= render "application/sidebar" %>
  </aside>
  <div class="c"></div>
</div>
<%= render 'application/after_layout' %>
