<%= render 'before_layout' %>
<div id="wrap">
  <aside class="userhome">
    <%=render 'userhome_left' %>
  </aside>
  <div class="product_l">
    <%= render "content" %>
  </div>
  <div class="c"></div>
</div>
<%= render 'after_layout' %>
