<%= render 'before_layout' %>
<div id="wrap">
  <div class="product_l">
    <article>
      <%= yield %>
    </article>
  </div>
  <aside>
  <%= yield(:sidebar) %>
  </aside>
</div>
<%= render 'after_layout' %>

